
  <div class = 'row'>
	    <div class = "col-lg-3"></div>
	    <div class = 'col-lg-6'>			
	    	<div>
					<h3>Add a new order</h3>
					<label for = "customer">Name:</label>
					<select ng-model = 'new_order.name'> 
						<option ng-repeat = "customer in customers | filter:filter_name | orderBy: 'date'" name = 'customer'>{{ customer.name }}</option>
					</select>
					<select class = 'form-control' ng-model = 'new_order.quantity'>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
					</select>
					<select type = 'text' ng-model = 'new_order.product'>
						<option ng-repeat = "product in products | filter:filter_name | orderBy: 'date'" name = 'customer'>{{ product.name }}</option>
					</select> 
					<input class = 'btn btn-primary' type = 'submit' ng-click = 'addOrders()' value = 'add order!'>
					<table style = "width: 100%" class = 'table table-striped table-bordered'>
		    		<tr>
		    			<th ng-click="doSort('name')">Customer Name</th>
		    			<th ng-click="doSort('product')">Product</th>
		    			<th ng-click="doSort('quantity')">Orders</th>
		    			<th ng-click="doSort('date')">Date</th>
		    		</tr>
		    		<tr class = "show_case" ng-repeat = "order in orders | filter:filter_name | orderBy:sortBy:reverse">
		    			<td><h3>{{ order.name }}</h3></td>
		    			<td><h3>{{ order.product }}</h3></td>
		    			<td><h3>{{ order.quantity }}</h3></td>
		    			<td><h3>{{ order.date | date: "fullDate"}}</h3></td>
		    		</tr>
			</div>
		</div>
	  <div class = "col-lg-3"></div>
	</div>
</body>